---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="text">
  Hello!
</div>
<div class="js-canvas">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<g>
	<circle fill="#FFDE00" cx="5.286" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="5.286" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="5.286" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="5.286" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="9.138" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="12.99" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="16.842" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="16.842" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="16.842" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="16.842" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="16.842" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="20.694" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="20.694" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="20.694" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="20.694" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="20.694" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="24.546" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="24.546" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="24.546" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="24.546" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="24.546" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="28.398" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="32.25" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="36.102" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="36.102" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="36.102" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="36.102" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="36.102" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="39.954" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="39.954" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="39.954" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="39.954" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="39.954" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="43.806" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="43.806" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="43.806" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="43.806" cy="5.418" r="1.5"/>
	<circle fill="#FFDE00" cx="43.806" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="47.658" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="43.938" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="36.234" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="28.53" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="20.826" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="40.086" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="32.382" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="24.678" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="51.51" cy="55.494" r="1.5"/>
	<circle fill="#FFDE00" cx="55.362" cy="51.643" r="1.5"/>
	<circle fill="#FFDE00" cx="55.362" cy="13.122" r="1.5"/>
	<circle fill="#FFDE00" cx="55.362" cy="9.271" r="1.5"/>
	<circle fill="#FFDE00" cx="55.362" cy="55.494" r="1.5"/>
</g>
</svg>
</div>
<div class="js-canvas">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<g>
	<circle fill="#54A0D8" cx="4.935" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="4.935" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="8.786" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="12.639" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="16.49" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="16.49" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="16.49" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="16.49" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="20.343" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="20.343" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="24.194" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="24.194" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="24.194" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="24.194" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="24.194" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="28.047" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="31.898" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="35.75" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="35.75" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="35.75" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="35.75" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="35.75" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="39.603" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="39.603" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="43.454" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="39.938" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="32.234" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="24.53" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="36.086" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="47.307" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="51.158" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="51.158" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="51.158" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="51.158" cy="51.494" r="1.5"/>
	<circle fill="#54A0D8" cx="55.011" cy="28.382" r="1.5"/>
	<circle fill="#54A0D8" cx="55.011" cy="20.678" r="1.5"/>
	<circle fill="#54A0D8" cx="55.011" cy="9.122" r="1.5"/>
	<circle fill="#54A0D8" cx="55.011" cy="51.494" r="1.5"/>
</g>
</svg>
</div>

<div class="js-canvas">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<g>
	<circle fill="#54A0D8" cx="22.719" cy="12.879" r="1.5"/>
	<circle fill="#54A0D8" cx="27.182" cy="12.879" r="1.5"/>
	<circle fill="#54A0D8" cx="31.248" cy="14.856" r="1.5"/>
	<circle fill="#54A0D8" cx="34.019" cy="18.385" r="1.5"/>
	<circle fill="#54A0D8" cx="35.062" cy="22.848" r="1.5"/>
	<circle fill="#54A0D8" cx="34.121" cy="27.201" r="1.5"/>
	<circle fill="#54A0D8" cx="31.369" cy="30.728" r="1.5"/>
	<circle fill="#54A0D8" cx="27.302" cy="32.707" r="1.5"/>
	<circle fill="#54A0D8" cx="22.841" cy="32.707" r="1.5"/>
	<circle fill="#54A0D8" cx="18.756" cy="30.85" r="1.5"/>
	<circle fill="#54A0D8" cx="15.858" cy="27.304" r="1.5"/>
	<circle fill="#54A0D8" cx="14.959" cy="22.968" r="1.5"/>
	<circle fill="#54A0D8" cx="15.756" cy="18.505" r="1.5"/>
	<circle fill="#54A0D8" cx="18.652" cy="14.961" r="1.5"/>
	<circle fill="#54A0D8" cx="21.531" cy="8.142" r="1.5"/>
	<circle fill="#54A0D8" cx="26.139" cy="7.745" r="1.5"/>
	<circle fill="#54A0D8" cx="30.457" cy="8.667" r="1.5"/>
	<circle fill="#54A0D8" cx="34.415" cy="10.898" r="1.5"/>
	<circle fill="#54A0D8" cx="37.546" cy="14.317" r="1.5"/>
	<circle fill="#54A0D8" cx="39.524" cy="18.385" r="1.5"/>
	<circle fill="#54A0D8" cx="40.173" cy="22.848" r="1.5"/>
	<circle fill="#54A0D8" cx="39.626" cy="27.326" r="1.5"/>
	<circle fill="#54A0D8" cx="37.647" cy="31.394" r="1.5"/>
	<circle fill="#54A0D8" cx="34.518" cy="34.686" r="1.5"/>
	<circle fill="#54A0D8" cx="38.93" cy="36.844" r="1.5"/>
	<circle fill="#54A0D8" cx="35.499" cy="39.337" r="1.5"/>
	<circle fill="#54A0D8" cx="37.742" cy="42.614" r="1.5"/>
	<circle fill="#54A0D8" cx="40.278" cy="46.029" r="1.5"/>
	<circle fill="#54A0D8" cx="42.735" cy="49.313" r="1.5"/>
	<circle fill="#54A0D8" cx="45.227" cy="52.724" r="1.5"/>
	<circle fill="#54A0D8" cx="41.423" cy="40.255" r="1.5"/>
	<circle fill="#54A0D8" cx="43.824" cy="43.538" r="1.5"/>
	<circle fill="#54A0D8" cx="46.281" cy="46.821" r="1.5"/>
	<circle fill="#54A0D8" cx="48.781" cy="50.097" r="1.5"/>
	<circle fill="#54A0D8" cx="30.577" cy="36.917" r="1.5"/>
	<circle fill="#54A0D8" cx="26.226" cy="37.96" r="1.5"/>
	<circle fill="#54A0D8" cx="21.652" cy="37.812" r="1.5"/>
	<circle fill="#54A0D8" cx="17.442" cy="36.103" r="1.5"/>
	<circle fill="#54A0D8" cx="13.897" cy="33.224" r="1.5"/>
	<circle fill="#54A0D8" cx="11.381" cy="29.535" r="1.5"/>
	<circle fill="#54A0D8" cx="10.081" cy="25.199" r="1.5"/>
	<circle fill="#54A0D8" cx="10.081" cy="20.611" r="1.5"/>
	<circle fill="#54A0D8" cx="11.293" cy="16.274" r="1.5"/>
	<circle fill="#54A0D8" cx="13.794" cy="12.604" r="1.5"/>
	<circle fill="#54A0D8" cx="17.32" cy="9.707" r="1.5"/>
</g>
</svg>
</div>



{% endblock %}
